$size-large: 40px;
$size-regular: 34px;
$size-medium: 28px;
$size-small: 20px;
$size-mobile-large: 26px;
$size-mobile-small: 20px;
$line-height-large: 44px;
$line-height-regular: 38px;
$line-height-mobile: 28px;
$line-height-small: 22px;
$font-heavy: 700;
$font-regular: 400;

$layout-breakpoint-small: 600px;
$layout-breakpoint-med: 768px;
$layout-breakpoint-large: 992px;
