@use '../styles/abstracts/sizes';
@use '../styles/abstracts/colors';

.about {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: sizes.$layout-breakpoint-large) {
    display: block;
  }

  &__profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 99px;
    border: 4px solid white;
  }

  &__profile-pic-container {
    @media (max-width: sizes.$layout-breakpoint-large) {
      text-align: center;
    }
  }

  &__paragraphs {
    padding: 10px 20px;
    margin-top: 30px;

    p {
      font-size: sizes.$size-small;
      max-width: 900px;
    }

    a {
      margin-left: 4px;
      color: colors.$secondary;

      &:hover {
        font-weight: sizes.$font-heavy;
      }
    }
  }
}
