@use '../styles/abstracts/sizes';
@use '../styles/abstracts/colors';

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  @media (max-width: sizes.$layout-breakpoint-large) {
    display: block;
  }

  &__title {
    font-weight: sizes.$font-heavy;
    font-size: sizes.$size-xlarge;
    color: colors.$secondary;
  }

  &__profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 99px;
    border: 4px solid white;
  }

  &__profile-pic-container {
    @media (max-width: sizes.$layout-breakpoint-large) {
      text-align: center;
    }
  }

  &__paragraphs {
    padding: 10px 20px;

    p {
      line-height: sizes.$line-height-small;
      font-size: sizes.$size-small;
      max-width: 900px;
      margin: 36px 0;
    }

    a {
      color: colors.$secondary-light;

      &:hover {
        font-weight: sizes.$font-heavy;
      }
    }
  }

  &__link {
    a {
      color: colors.$secondary;
    }

    @media (max-width: sizes.$layout-breakpoint-small) {
      text-align: center;
    }
  }
}
