@use "../styles/abstracts/sizes";
@use "../styles/abstracts/effects";

.blog {
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  a:hover {
    text-decoration: underline;
  }

  &__section {
    @include effects.fadeIn(1s);
    padding-left: 380px;
    width: 850px;
  }

  &__article:not(:last-child) {
    margin-bottom: 30px;
  }

  &__article-title {
    font-size: sizes.$size-regular;
    line-height: sizes.$line-height-regular;
    font-weight: sizes.$font-regular;
  }

  &__date {
    font-size: sizes.$size-small;
    line-height: sizes.$line-height-small;
    font-weight: sizes.$font-regular;
  }

  &__read-more {
    padding: 40px 0;
    font-size: sizes.$size-small;
    font-weight: sizes.$font-regular;
  }
}
