@use '../styles/abstracts/sizes';
@use '../styles/abstracts/colors';

.jobs {
  &__title {
    font-weight: sizes.$font-heavy;
    font-size: sizes.$size-xlarge;
    color: colors.$secondary;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 10%;
  }

  &__tabs {
    position: relative;
    margin: 36px 0 0 36px;
    max-width: 200px;
    height: 400px;
  }

  &__tab {
    border-left: 3px solid colors.$white-secondary;
    padding: 12px 20px;

    &--selected {
      font-weight: sizes.$font-heavy;
      a {
        color: colors.$secondary;
      }
    }

    &:hover {
      a {
        color: colors.$secondary;
      }
      border-left: 4px solid colors.$secondary;
    }

    a {
      font-size: sizes.$size-medium;
    }
  }

  &__company-info {
    width: 50%;
  }

  &__company-highlights {
    margin-top: 16px;
    padding-left: 20px;
    li {
      margin: 8px 0;
      font-size: sizes.$size-smaller;
      &::before {
        content: '▹';
        margin-right: 10px;
      }
    }
  }

  &__company-name {
    font-weight: sizes.$font-regular;
    a {
      font-weight: sizes.$font-medium;
      color: colors.$secondary;
    }
  }

  &__company-tagline {
    font-size: sizes.$size-small;
    color: colors.$secondary;
  }

  &__company-period {
    margin: 8px 0;
  }

  .glider {
    position: absolute;
    height: 61px;
    width: 4px;
    top: 0;
    background-color: colors.$secondary;
    transition: 0.15s ease-in;
    border-radius: 10px;
  }
}
