@use '../styles/abstracts/sizes';
@use '../styles/abstracts/colors';

.about {
  margin-bottom: 140px;
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__browser-container {
    position: relative;
  }

  &__browser-svg {
    height: 70vh;
  }

  &__browser-content {
    position: absolute;
    top: 100px;
    left: 75px;
  }

  &__profile-pic {
    width: 160px;
    border-radius: 99px;
    border: 7px solid black;
  }

  &__paragraphs {
    border: 6px solid black;
    padding: 10px 20px;
    margin-top: 30px;

    p {
      font-size: sizes.$size-small;
      max-width: 900px;
    }

    a {
      margin-left: 4px;
      color: colors.$secondary;

      &:hover {
        font-weight: sizes.$font-heavy;
      }
    }
  }
}
