@use "../styles/abstracts/sizes";

.team {
  margin-bottom: 140px;
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__member {
    display: flex;
    padding-left: 200px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      display: block;
      padding-left: 0;
    }
  }

  &__member-name {
    font-weight: sizes.$font-regular;
    font-size: sizes.$size-regular;
    line-height: sizes.$line-height-regular;
    font-weight: sizes.$font-heavy;

    @media (max-width: sizes.$layout-breakpoint-small) {
      margin-right: 0;
    }
  }

  &__profile {
    border-radius: 200px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    margin-right: 36px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      margin-bottom: 10px;
      margin-top: 50px;
    }


    img {
      border-radius: 200px; // required for safari
    }
  }

  &__profile-info {
    max-width: 800px;
    p:first-of-type {
      margin-top: 10px;
    }
    p {
      font-size: 22px;
      line-height: sizes.$line-height-mobile;
    }
  }
}
