@use "../styles/abstracts/sizes";

.theses {
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__section {
    display: flex;
    padding-left: 190px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      flex-direction: column;
      padding-left: 0;
    }
  }

  section:not(:last-child) {
    margin-bottom: 130px;
  }

  section:last-child {
    margin-bottom: 190px;
  }

  &__key {
    margin-right: 20px;
  }

  &__value {
    width: 817px;
    line-height: sizes.$line-height-regular;

    @media (max-width: sizes.$layout-breakpoint-small) {
      width: auto;
    }
  }

  &__key,
  &__value {
    font-size: sizes.$size-regular;
    font-weight: sizes.$font-regular;
  }

  &__companies {
    margin-top: 60px;
    gap: 70px 90px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
  }

  h4 {
    display: inline;
    font-weight: sizes.$font-heavy;
  }
}
