@use "../styles/abstracts/sizes";

$thesis-content-width: 817px;

.theses {
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__section {
    padding-left: 190px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      flex-direction: column;
      padding-left: 0;
    }
  }

  section:not(:last-child) {
    margin-bottom: 143px;
  }

  section:last-child {
    margin-bottom: 190px;
  }

  &__key,
  &__company-image {
    margin-right: 20px;
    width: 165px;
    text-align: right;
  }

  &__value {
    width: $thesis-content-width;
    line-height: sizes.$line-height-regular;

    @media (max-width: sizes.$layout-breakpoint-small) {
      width: auto;
    }
  }

  &__key,
  &__value {
    font-size: sizes.$size-regular;
    font-weight: sizes.$font-regular;
  }

  &__pair {
    display: flex;
  }

  &__companies {
    margin-top: 60px;
  }

  &__company {
    display: flex;
    margin-bottom: 33px;
    gap: 36px;
  }

  &__company-description {
    width: $thesis-content-width;
  }

  h4 {
    display: inline;
    font-weight: sizes.$font-heavy;
  }
}
