@use "../styles/abstracts/sizes";

.theses {
  margin-bottom: 50px;
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__section {
    padding-left: 190px;
    margin-bottom: 143px;

    h3, h2 {
      display: inline-block;
      font-size: sizes.$size-regular;
    }

    @media (max-width: sizes.$layout-breakpoint-small) {
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 80px;
    }
  }

  &__key {
    min-width: 180px;
    text-align: right;
    @media (max-width: sizes.$layout-breakpoint-small) {
      text-align: left;
    }
  }

  &__value {
    width: 817px;
    line-height: sizes.$line-height-regular;

    p {
      font-size: 26px;
      line-height: 32px;
      margin: 10px 0 0 0;
    }

    @media (max-width: sizes.$layout-breakpoint-small) {
      width: auto;
    }
  }

  &__key,
  &__value {
    font-size: sizes.$size-regular;
    font-weight: sizes.$font-regular;

    @media (max-width: sizes.$layout-breakpoint-small) {
      font-size: sizes.$size-mobile-large;
    }
  }


  &__pair {
    display: flex;
    gap: 36px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      display: block;
      gap: 0px;
    }
  }

  &__companies {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  &__header {
    font-size: 26px;
    line-height: 32px;
    margin: 12px 0 80px 270px;
    width: 817px;
    font-family: DMMono;


    @media (max-width: sizes.$layout-breakpoint-small) {
      margin-left: 0;
      width: auto;
      font-size: 22px;
      line-height: sizes.$line-height-mobile;
    }
  }
}
