@use '../styles/abstracts/colors';
@use '../styles/abstracts/sizes';

.intro {
  h1 {
    margin-top: 12px;
    font-size: clamp(40px, 8vw, 80px);
  }

  h2 {
    font-size: clamp(30px, 6vw, 64px);
    color: colors.$secondary;
  }

  p {
    width: 600px;
    font-size: sizes.$size-medium;
    // line-height:
  }
}
