@use "../styles/abstracts/colors";
@use "../styles/abstracts/sizes";

.loading-screen {
  position: absolute;
  background-color: colors.$bg-color;
  width: 100vw;
  height: 100vh;

  @media (max-width: sizes.$layout-breakpoint-small) {
    display: flex;
    align-items: center;
  }

  img {
    width: 100%;
  }
}
