@use "../styles/abstracts/colors";
@use "../styles/abstracts/sizes";

.loading-screen {
  position: absolute;
  background-color: colors.$bg-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animateContainer 5.5s forwards;

  .image-container {
    text-align: center;
  }

  img {
    width: 50%;
  }

  @keyframes animateContainer {
    90% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }
}
