@use "../styles/abstracts/sizes";
@use "../styles/abstracts/colors";
@use "../styles/abstracts/effects";

.navbar {
  position: fixed;
  bottom: 0;
  left: 86px;
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  width: calc(100vw - 172px);
  box-shadow: 2px 2px 30px 30px colors.$bg-color;
  background-color: colors.$bg-color;
  padding-bottom: 68px;

  @media (max-width: sizes.$layout-breakpoint-small) {
    margin-top: 0;
    display: none;
  }

  &__logo {
    display: flex;
    align-items: center;

    svg {
      display: block;
      height: 53px;
    }
  }

  &__page-links {
    @include effects.underline(250ms, 3px);
    &:hover {
      text-decoration-color: colors.$primary;
    }
  }

  &__items {
    display: flex;
    align-items: center;

    li {
      font-size: sizes.$size-small;
      &:active {
        opacity: 0.7;
      }
      &:not(:last-child){
        margin-right: 100px;
      }
    }

    &--github {
      svg {
        height: 26px;
      }
    }

    // hovering over social links
    &--social {
      svg {
        padding-top: 4px;
        padding-bottom: 2px;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition: border 250ms;
        &:hover {
          border-bottom: 2px solid colors.$primary;
        }
      }
    }
  }

  &__twitter {
    margin-right: 78px;
  }
}
