@use "../styles/abstracts/sizes";

.navbar {
  display: flex;
  margin-top: auto;
  justify-content: space-between;

  @media (max-width: sizes.$layout-breakpoint-small) {
    margin-top: 0;
  }

  &__logo {
    display: flex;
    align-items: center;

    svg {
      display: block;
      width: 343px;
      height: 53px;
    }
  }

  &__page-links {
    &:hover {
      text-decoration: underline;
    }
    margin-right: 96px;
  }

  &__items {
    display: flex;
    align-items: center;

    li {
      font-size: sizes.$size-small;
      list-style: none;
    }
  }

  &__twitter {
    margin-right: 78px;
  }
}
