@use "../styles/abstracts/sizes";
@use "../styles/abstracts/colors";

.navbar {
  display: flex;
  margin-top: auto;
  justify-content: space-between;

  @media (max-width: sizes.$layout-breakpoint-small) {
    margin-top: 0;
  }

  &__logo {
    display: flex;
    align-items: center;

    svg {
      display: block;
      height: 53px;
    }
  }

  &__page-links {
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 250ms;
    text-underline-offset: 3px;
    &:hover {
      text-decoration-color: colors.$primary;
    }
    margin-right: 96px;
  }

  &__items {
    display: flex;
    align-items: center;

    li {
      font-size: sizes.$size-small;
      list-style: none;
    }
  }

  &__twitter {
    margin-right: 78px;
  }
}
