@use '../styles/abstracts/sizes';
@use '../styles/abstracts/effects';

.layout {
  @include effects.fadeIn(2s);
  display: flex;
  flex-direction: column;
  padding: 30px 50px;

  // mobile view
  @media (max-width: sizes.$layout-breakpoint-small) {
    padding: 18px 25px 0 25px;
    order: 1;
    min-height: calc(100vh - 19px);
  }

  &__hamburger {
    border: 0;
    background-color: transparent;
    display: none;
    height: 24px;
    &:active {
      opacity: 0.4;
    }
    @media (max-width: sizes.$layout-breakpoint-small) {
      display: block;
    }
  }

  &__content {
    margin-top: 100px;
  }
}
