@use "../styles/abstracts/sizes";

.company {
  display: flex;
  margin-bottom: 33px;
  gap: 36px;

  @media (max-width: sizes.$layout-breakpoint-small) {
    display: block;
  }

  &__description {
    flex-basis: 817px;

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__logo-container {
    min-width: 180px;
    text-align: right;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &__logo {
    float: right;
    @media (max-width: sizes.$layout-breakpoint-small) {
      float: none;
      margin-bottom: 10px;
    }
  }
}
